:root {
  --content-width: 800px;
  --white: #fff;
  --radius: 20px;
  --mobile_radius: 10px;
  --gray: #818181;
  --blue-black: #101012;
  --blue: #1a4dff;
  --yellow: #e9f83e;
  --purple: #6a5afe;
  --orange: #ff5f36;
  --turquoise: #0baacd;
  --black-2: black;
  --light-grey: #eee;
  --red: #ff1a1a;
  --lightblue: #4f76ff;
  --black: #0d0d0d;
  --font_regular: 24px;
  --white-2: white;
}

.w-layout-blockcontainer {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

@media screen and (max-width: 991px) {
  .w-layout-blockcontainer {
    max-width: 728px;
  }
}

@media screen and (max-width: 767px) {
  .w-layout-blockcontainer {
    max-width: none;
  }
}

h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 38px;
  font-weight: 700;
  line-height: 44px;
}

li {
  margin-bottom: 20px;
  margin-left: -40px;
}

.section {
  justify-content: center;
  width: 100%;
  padding-left: 40px;
  padding-right: 40px;
  display: flex;
}

.section.header {
  z-index: 100;
  position: fixed;
  top: 0;
}

.section.case_header {
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 60vh;
  display: flex;
}

.section.hide {
  display: none;
}

.section.hero {
  flex-direction: column;
}

.section.cards {
  position: relative;
}

.section.column {
  flex-flow: column;
  align-items: center;
}

.section.hero_custom {
  background-color: rgba(0, 0, 0, 0);
  background-image: linear-gradient(rgba(238, 238, 238, 0) 90%, #eee), url('../images/iam_1.webp');
  background-position: 0 0, 30% 100%;
  background-repeat: repeat, no-repeat;
  background-size: auto, auto 100vh;
  background-attachment: scroll, fixed;
  flex-direction: column;
  align-items: center;
}

.section.sticky_nav {
  z-index: 10;
  height: 100vh;
  position: fixed;
  top: auto;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.section.contacts {
  z-index: 20;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  position: relative;
}

.container {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  align-items: start;
  justify-items: center;
  width: 100%;
  max-width: 1920px;
  padding-top: 60px;
  padding-bottom: 60px;
  display: grid;
}

.container.header {
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
}

.container.hero {
  perspective: 752px;
  flex-flow: row;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: flex-start;
  justify-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20vh;
  display: flex;
}

.container.case {
  max-width: var(--content-width);
  color: var(--white);
  grid-template-columns: 1fr;
  justify-items: start;
}

.container.case.no_paddings {
  padding-top: 0;
}

.container.case.more {
  cursor: pointer;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  display: flex;
}

.container.case.center {
  justify-content: center;
  align-items: flex-start;
  display: flex;
}

.container.case_header_container {
  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
  justify-content: center;
  align-items: flex-end;
  height: 80vh;
  margin-bottom: 0;
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  display: flex;
  position: relative;
  top: 0;
  left: auto;
  right: auto;
  overflow: hidden;
}

.container.case_header_container.revolvr {
  background-image: url('../images/Rectangle-1.webp');
  background-position: 50%;
  background-size: cover;
}

.container.case_header_container.jetstyle_eng {
  background-image: url('../images/logo_1.webp');
  background-position: 50%;
  background-size: cover;
}

.container.case_header_container.dragon_zil {
  background-image: url('../images/MacBookPro_dark_fullhd.webp');
  background-position: 50%;
  background-size: cover;
}

.container.case_header_container.morpheus {
  background-image: url('../images/pic.webp');
  background-position: 50%;
  background-size: cover;
}

.container.case_header_container.wtower {
  background-image: url('../images/birch_1.webp');
  background-position: 50% 0;
  background-size: cover;
}

.container.case_header_container.zilpay {
  background-image: url('../images/zilpay.webp');
  background-position: 50%;
  background-size: cover;
}

.container.case_header_container.unight {
  background-image: url('../images/header_1.webp');
  background-position: 50%;
  background-size: cover;
}

.container.case_header_container.extra {
  background-image: url('../images/extra_1.webp');
  background-position: 50%;
  background-size: cover;
}

.container.case_header_container.jet_socials {
  background-image: url('../images/Comp-2_4-0-00-00-00_1.webp');
  background-position: 50%;
  background-size: cover;
}

.container.case_header_container.fiit {
  background-image: url('../images/inLife2_1.webp');
  background-position: 50%;
  background-size: cover;
}

.container.case_header_container.empty {
  height: 30vh;
}

.container.cards {
  grid-template-columns: 1fr 1fr;
  padding-top: 0;
}

.container.pic_container {
  flex-flow: column;
  align-items: center;
  display: flex;
}

.container.pic_container.no_padding {
  padding-top: 0;
}

.container._2_columns {
  border-top: .5px solid var(--gray);
  grid-template-columns: 1fr 1fr;
  margin-top: 40px;
  padding-top: 20px;
}

.container._2_columns.no_line {
  border: 1px #000;
  margin-top: 20px;
}

.container._2_columns.header_container {
  border: 1px #000;
  padding-bottom: 0;
}

.container._2_columns.work {
  padding-bottom: 0;
}

.container.video_cards {
  grid-template-columns: 1fr 1fr;
  padding-top: 0;
}

.container.grid {
  display: grid;
}

.container._12_grid {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  align-items: start;
  justify-items: start;
  padding-top: 0;
  padding-bottom: 0;
  position: relative;
}

.container._12_grid.open {
  min-height: 100vh;
}

.container._12_grid.contacts {
  padding-top: 40px;
}

.container.anchor_container {
  flex-flow: column;
  justify-content: space-between;
  align-items: stretch;
  justify-items: start;
  padding-top: 20px;
  padding-bottom: 40px;
  display: flex;
}

.container._10_grid {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  align-items: start;
  justify-items: start;
  position: relative;
}

.container._10_grid.open {
  min-height: 100vh;
}

.container._10_grid.contacts {
  padding-top: 40px;
}

.container.custom_layout_grid {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  align-items: start;
  justify-items: start;
  padding-top: 0;
  padding-bottom: 0;
  position: relative;
}

.container.custom_layout_grid.open {
  min-height: 100vh;
}

.container.custom_layout_grid.contacts {
  padding-top: 40px;
}

.heading_1 {
  color: var(--white);
  font-variation-settings: "wght"900, "wdth"200, "opsz"8, "slnt"0, "YTAS"756, "XTRA"471, "YTDE"-203, "YTFI"744, "GRAD"-6, "YOPQ"89, "YTUC"703;
  text-align: left;
  font-family: Tt Trailers Trial Variable, sans-serif;
  font-size: calc(min(8vw, 160px));
  font-weight: 400;
  line-height: 70%;
}

.heading_1.hero {
  color: var(--blue-black);
  transform-style: preserve-3d;
  font-size: calc(min(10vw, 160px));
  line-height: 80%;
  transform: translate3d(0, 0, 74px);
}

.heading_1.infographics {
  -webkit-text-fill-color: transparent;
  background-image: radial-gradient(circle, rgba(33, 49, 134, .38) 20%, #2e39ff 75%);
  -webkit-background-clip: text;
  background-clip: text;
  width: auto;
  position: absolute;
}

.heading_1.black {
  color: var(--blue-black);
}

.heading_1.black.line_height {
  line-height: 80%;
}

.heading_1.yellow {
  color: var(--yellow);
}

.heading_1.purple {
  color: var(--purple);
}

.heading_1.orange {
  color: var(--orange);
}

.heading_1.turquoise {
  color: var(--turquoise);
}

.heading_1.custom {
  color: var(--black-2);
  text-transform: uppercase;
  margin-top: 60px;
  line-height: 80%;
}

.body {
  background-color: var(--blue-black);
  font-variation-settings: "wght"400, "wdth"110, "opsz"8, "slnt"0, "YTAS"756, "XTRA"471, "YTDE"-203, "YTFI"744, "GRAD"-6, "YOPQ"89, "YTUC"703;
  font-family: Robotoflex Variablefont Grad Xtra Yopq Ytas Ytde Ytfi Ytlc Ytuc Opsz Slnt Wdth Wght, sans-serif;
}

.body.jet {
  background-color: #e8e8f6;
}

.body.dragonszil_color_bg {
  background-color: #171b2a;
}

.body.jet_socials_bg {
  background-color: #00001a;
}

.body.white {
  background-color: var(--white);
}

.body.grey {
  background-color: var(--light-grey);
}

.regular {
  font-variation-settings: "wght"300, "wdth"40.1, "opsz"8, "slnt"0, "YTAS"756, "XTRA"471, "YTDE"-203, "YTFI"744, "GRAD"-6, "YOPQ"89, "YTUC"703;
  font-family: Robotoflex Variablefont Grad Xtra Yopq Ytas Ytde Ytfi Ytlc Ytuc Opsz Slnt Wdth Wght, sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 150%;
}

.regular.tags {
  color: var(--blue-black);
  text-align: left;
}

.regular.tags.white {
  color: var(--white);
}

.regular.tags.white.center {
  text-align: center;
}

.regular.tags.yellow {
  color: var(--yellow);
}

.regular.tags.purple {
  color: var(--purple);
}

.regular.tags.orange {
  color: var(--orange);
}

.regular.tags.turquoise {
  color: var(--turquoise);
}

.regular.tags.gray {
  color: var(--red);
}

.regular.tags.blue {
  color: var(--blue);
}

.regular.tags.light_blue {
  color: var(--lightblue);
}

.regular.tags.red {
  color: var(--red);
}

.regular.tags.right {
  text-align: right;
}

.regular.footer {
  color: rgba(69, 69, 69, .82);
  text-transform: uppercase;
  margin-top: 40px;
}

.regular.footer.desktop {
  margin-bottom: 15px;
}

.regular.footer.mobile {
  display: none;
}

.regular.black {
  color: var(--blue-black);
}

.regular.black.opacity {
  color: var(--black);
}

.regular.opacity {
  opacity: .5;
  color: var(--white);
  text-align: center;
}

.regular.soon {
  background-color: var(--white);
  color: var(--black);
  border-radius: 70px;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 40px;
  padding-top: 4px;
  padding-bottom: 4px;
  display: flex;
  position: absolute;
  top: 40px;
  bottom: auto;
  left: 40px;
  right: auto;
}

.regular.white {
  color: var(--white);
}

.regular.case_caption {
  color: var(--blue-black);
  text-align: center;
  line-height: 120%;
}

.regular.case_caption.white {
  color: var(--white);
}

.regular.case_caption.white.center {
  text-align: center;
}

.regular.case_caption.yellow {
  color: var(--yellow);
}

.regular.case_caption.purple {
  color: var(--purple);
}

.regular.case_caption.orange {
  color: var(--orange);
}

.regular.case_caption.turquoise {
  color: var(--turquoise);
}

.regular.case_caption.gray {
  color: var(--red);
}

.regular.case_caption.blue {
  color: var(--blue);
}

.regular.case_caption.light_blue {
  color: var(--lightblue);
}

.regular.case_caption.red {
  color: var(--red);
}

.regular.case_caption.right {
  text-align: right;
}

.regular.link {
  background-image: linear-gradient(to bottom, var(--white), var(--white));
  color: var(--black);
  border-radius: 40px;
  width: auto;
  padding: 10px 15px;
  font-size: 18px;
  text-decoration: none;
}

.regular.link.w--current {
  transition: all .2s;
}

.regular.link.orange {
  background-image: linear-gradient(to bottom, var(--orange), var(--orange));
  color: var(--white);
}

.regular.link.container_show {
  display: none;
}

.card {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  border-radius: var(--radius);
  color: var(--black);
  cursor: pointer;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 90vh;
  padding-top: 40px;
  padding-bottom: 40px;
  text-decoration: none;
  display: flex;
  position: relative;
  overflow: hidden;
  transform: translate(0);
}

.card.full.adam {
  background-color: #161616;
}

.card.slp8 {
  background-color: #3b3c46;
}

.card.spd {
  background-color: #eeeeed;
}

.card.movixvr {
  background-color: #151528;
}

.card.card_loader {
  background-color: #000;
}

.card_text {
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 40px;
  display: flex;
}

.card_text.bottom {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  justify-content: flex-end;
  position: relative;
}

.tags {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  display: flex;
}

.heading_3 {
  color: var(--blue-black);
  font-variation-settings: "wght"900, "wdth"110, "opsz"8, "slnt"0, "YTAS"756, "XTRA"471, "YTDE"-203, "YTFI"744, "GRAD"-6, "YOPQ"89, "YTUC"703;
  text-align: center;
  text-transform: uppercase;
  font-family: Tt Trailers Trial Variable, sans-serif;
  font-size: 80px;
  line-height: 80%;
}

.heading_3.white {
  color: var(--white);
}

.heading_3.center {
  text-align: center;
}

.heading_3.center.purple {
  color: var(--purple);
}

.heading_3.left {
  text-align: left;
}

.heading_3.left_sticky {
  text-align: left;
  position: -webkit-sticky;
  position: sticky;
}

.case_header {
  min-width: 100%;
  max-width: none;
  min-height: 100%;
}

.pic {
  border-radius: var(--radius);
  width: 100%;
  transform: translate(0);
}

.pic.video {
  height: 51vw;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  overflow: hidden;
}

.pic.video.dark_shadow.dragon {
  background-color: #20232f;
}

.pic.video.wtower {
  height: calc(min(48vw, 990px));
}

.pic.video.unight_wave {
  height: calc(min(800px, 42vw));
  box-shadow: 0 2px 16px rgba(0, 0, 0, .2);
}

.pic.video.jet_socials {
  height: calc(min(970px, 47vw));
}

.pic.video.fiit_video {
  height: 48vw;
}

.pic.video.revolvr_shooter {
  background-image: url('../images/rvlvr_video_preview_2.webp');
  background-position: 50%;
  background-size: cover;
}

.pic.video.svel_video_container_main {
  height: calc(min(1015px, 50vw));
  box-shadow: 0 2px 16px rgba(0, 0, 0, .2);
}

.pic.video.svel_video_container_2 {
  height: calc(min(797px, 32vw));
  box-shadow: 0 2px 16px rgba(0, 0, 0, .2);
}

.pic.video.movix {
  height: calc(min(900px, 50vw));
}

.pic.white_shadow {
  box-shadow: 0 0 16px -3px rgba(34, 62, 122, .2);
}

.pic.dark_shadow {
  box-shadow: 0 0 16px -3px rgba(0, 0, 0, .86);
}

.pic.autowidth {
  width: auto;
}

.pic.autowidth.white_shadow {
  box-shadow: 0 0 16px rgba(34, 62, 122, .2);
}

.card_pic {
  z-index: -1;
  flex: none;
  width: 100%;
  max-width: none;
  position: absolute;
}

.social_string {
  background-color: var(--white);
  cursor: pointer;
  border-radius: 70px;
  align-items: center;
  padding-right: 20px;
  text-decoration: none;
  display: flex;
}

.social_string:hover {
  background-color: var(--orange);
  color: var(--white);
}

.social_string.opacity {
  background-color: rgba(255, 255, 255, .07);
}

.social_string.opacity:hover {
  background-color: var(--orange);
}

.heading_4 {
  color: var(--white);
  font-variation-settings: "wght"900, "wdth"200, "opsz"8, "slnt"0, "YTAS"756, "XTRA"471, "YTDE"-203, "YTFI"744, "GRAD"-6, "YOPQ"89, "YTUC"703;
  text-align: left;
  text-transform: uppercase;
  font-family: Tt Trailers Trial Variable, sans-serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 100%;
}

.heading_4.center {
  text-align: center;
}

.heading_4.black {
  color: var(--black);
}

.heading_4.red {
  color: var(--red);
}

.heading_4.nav_black {
  color: var(--black);
}

.big_text {
  color: var(--white);
  font-family: Robotoflex Variablefont Grad Xtra Yopq Ytas Ytde Ytfi Ytlc Ytuc Opsz Slnt Wdth Wght, sans-serif;
  font-size: var(--font_regular);
  font-variation-settings: "wght"300, "wdth"40.1, "opsz"8, "slnt"0, "YTAS"756, "XTRA"471, "YTDE"-203, "YTFI"744, "GRAD"-6, "YOPQ"89, "YTUC"703;
  text-transform: uppercase;
  line-height: 150%;
}

.big_text.black {
  color: var(--blue-black);
}

.big_text.center {
  text-align: center;
}

.more_case_pic {
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: 40vw;
  max-width: 600px;
  height: 40vw;
  max-height: 600px;
  display: flex;
  overflow: hidden;
}

.more_case {
  flex: none;
  max-width: none;
  height: 100%;
}

.infographics, .infographics_block {
  justify-content: center;
  align-items: center;
  width: 100%;
  display: flex;
}

.caption {
  color: var(--white);
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 120%;
  position: relative;
}

.socials_icon {
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  margin: 10px;
  display: flex;
  overflow: hidden;
}

.button {
  background-color: var(--orange);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  color: var(--white);
  border-radius: 60px;
  justify-content: center;
  align-items: center;
  height: 60px;
  padding: 10px 20px;
  text-decoration: none;
  transition: all .2s;
  display: flex;
}

.button:hover {
  background-color: var(--white);
  color: var(--black);
}

.button.logo {
  background-color: var(--white);
  cursor: pointer;
  width: 60px;
}

.button.logo:hover {
  color: var(--orange);
}

.button.logo.w--current {
  background-color: var(--white);
}

.button.white {
  background-color: var(--white);
  color: var(--black);
}

.button.white:hover {
  color: var(--orange);
}

.button.white.case {
  align-self: flex-start;
}

.button.opacity {
  color: var(--black);
  background-color: rgba(255, 255, 255, .11);
}

.button.opacity:hover {
  color: var(--orange);
}

.button.opacity.case {
  align-self: flex-start;
}

.logo {
  color: var(--black);
  font-variation-settings: "wght"900, "wdth"200, "opsz"8, "slnt"0, "YTAS"756, "XTRA"471, "YTDE"-203, "YTFI"744, "GRAD"-6, "YOPQ"89, "YTUC"703;
  text-align: left;
  text-transform: uppercase;
  font-family: Tt Trailers Trial Variable, sans-serif;
  font-size: 27px;
  font-weight: 400;
  line-height: 100%;
}

.nda {
  z-index: 120;
  background-color: #fff;
  display: none;
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.half_pic {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
  color: var(--black);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(min(61.3vw - 58.848px, 1167px));
  text-decoration: none;
  position: relative;
  overflow: hidden;
  transform: translate(0);
}

.half_pic.revolvr {
  background-image: url('../images/rvlvr_video_preview_3.webp');
  background-position: 50%;
  background-size: cover;
}

._3cols_container {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-items: center;
  width: 100%;
  display: grid;
}

._2_cols {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  width: 100%;
  display: grid;
}

.video {
  width: 100%;
  height: 100%;
}

.video.jet_socials {
  height: calc(min(970px, 50vw));
}

.video.wtower_full {
  background-image: url('../images/wtower_01.webp');
  background-position: 50%;
  background-size: cover;
}

.video.dragons_individual {
  background-image: url('../images/dragons_video_preview_3.webp');
  background-position: 50%;
  background-size: cover;
}

.video.dragons_desktop_mobile {
  background-image: url('../images/dragons_video_preview_2.webp');
  background-position: 50%;
  background-size: cover;
}

.video.jet_scial_preview_1 {
  background-image: url('../images/socials_video_preview_3.webp');
  background-position: 50%;
  background-size: cover;
}

.video.jet_scial_preview_2 {
  background-image: url('../images/socials_video_preview_2.webp');
  background-position: 50%;
  background-size: cover;
}

.video.jet_scial_preview_3 {
  background-image: url('../images/socials_video_preview_4.webp');
  background-position: 50%;
  background-size: cover;
}

.video.unight_video_previe {
  background-image: url('../images/splu_video_preview_1.webp');
  background-position: 50%;
  background-size: cover;
}

.video.svel_video_preview_desk_n_mobile {
  background-image: url('../images/svel_video_preview_2.webp');
  background-position: 50%;
  background-size: cover;
}

.sleep8 {
  background-image: url('../images/main_video_3.webp');
  background-position: 50%;
  background-size: cover;
  border-radius: 20px;
  flex: none;
  width: calc(min(15vw, 300px));
  height: calc(2 * min(15vw, 300px));
  overflow: hidden;
  transform: translate(0, 1px);
  box-shadow: 0 2px 20px 20px rgba(149, 145, 168, .03);
}

.speedometer {
  background-image: url('../images/main_video_5.webp');
  background-position: 50%;
  background-size: cover;
  flex: none;
  width: calc(min(45vw, 500px));
  height: calc(min(45vw, 500px));
}

.adam_ride {
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
  background-image: url('../images/main_video_4.webp');
  background-position: 50%;
  background-size: cover;
  flex: none;
  width: calc(min(60vw, 1300px));
  height: calc(min(60vw, 1300px) / 4);
  overflow: hidden;
}

.hide {
  display: none;
}

.case_card {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  border-radius: var(--radius);
  color: var(--black);
  cursor: pointer;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 90vh;
  padding: 40px;
  text-decoration: none;
  display: flex;
  position: relative;
  overflow: hidden;
  transform: translate(0);
}

.case_card.revolvr {
  background-image: url('../images/revolVR_preview.webp');
  background-position: 50%;
  background-size: cover;
  justify-content: flex-end;
  align-items: center;
}

.case_card.jet_site {
  background-image: url('../images/jetstyle_peview.webp');
  background-position: 50%;
  background-size: cover;
}

.case_card.wtower {
  background-image: url('../images/wtower_preview.webp');
  background-position: 50%;
  background-size: cover;
  justify-content: flex-end;
  align-items: center;
}

.case_card.jet_socials {
  background-image: url('../images/jet_socials_1.webp');
  background-position: 50%;
  background-size: cover;
}

.case_card.fiit {
  background-image: url('../images/fiit_preview_1.webp');
  background-position: 50%;
  background-size: cover;
}

.case_card.morpheus {
  background-image: url('../images/morpheus_preview.webp');
  background-position: 50%;
  background-size: cover;
  justify-content: flex-end;
  align-items: center;
}

.case_card.unight {
  background-image: url('../images/u.night_1.webp');
  background-position: 50%;
  background-size: cover;
}

.case_card.salsa {
  background-image: url('../images/salsa_preview.webp');
  background-position: 50%;
  background-size: cover;
}

.case_card.extra {
  background-image: url('../images/extra-axis_1.webp');
  background-position: 50%;
  background-size: cover;
}

.case_card.svel {
  background-image: url('../images/svell_1.webp');
  background-position: 50%;
  background-size: cover;
}

.case_card.zilpay {
  background-image: url('../images/zilpay.webp');
  background-position: 50%;
  background-size: cover;
  justify-content: flex-end;
  align-items: center;
}

.case_card.ponedelnik {
  background-image: url('../images/pn_preview_1.webp');
  background-position: 50%;
  background-size: cover;
  justify-content: flex-end;
  align-items: center;
}

.case_card.dragon_zil {
  background-image: url('../images/Dragon_zil_preview.webp');
  background-position: 50%;
  background-size: cover;
}

.case_card.movixuiux {
  background-image: url('../images/domru_preview_1.webp');
  background-position: 50%;
  background-size: cover;
}

.case_card.pochta {
  background-image: url('../images/pochta-preview_1.webp');
  background-position: 50%;
  background-size: cover;
}

.loader_bg {
  z-index: 600;
  background-color: var(--blue-black);
  justify-content: center;
  align-items: center;
  display: none;
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.loader {
  justify-content: center;
  align-items: center;
  display: flex;
}

.credits_string {
  border-bottom: .5px solid var(--gray);
  justify-content: space-between;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
}

.credits_string.white {
  border-bottom: 1px solid rgba(255, 255, 255, .59);
}

.credits_string.last {
  border: 1px #000;
}

.credits_string.gray {
  border-bottom: 1px solid var(--gray);
}

.credits_string.gray.no_line {
  border-bottom-style: none;
}

.credits {
  flex-flow: column;
  width: 100%;
  display: flex;
}

.header-soon {
  display: flex;
}

._1px {
  justify-content: flex-start;
  align-items: flex-end;
  width: 1px;
  height: 1px;
}

.loader_letter {
  color: var(--white);
  font-variation-settings: "wght"900, "wdth"200, "opsz"8, "slnt"0, "YTAS"756, "XTRA"471, "YTDE"-203, "YTFI"744, "GRAD"-6, "YOPQ"89, "YTUC"703;
  text-align: left;
  text-transform: uppercase;
  font-family: Tt Trailers Trial Variable, sans-serif;
  font-size: 7vw;
  font-weight: 400;
  line-height: 100%;
}

.loader_wt {
  background-image: url('../images/main_video_2.webp');
  background-position: 50%;
  background-size: cover;
  flex: none;
  width: calc(min(45vw, 400px));
  height: calc(min(45vw, 400px));
}

.header_layout {
  grid-column-gap: var(--radius);
  grid-row-gap: var(--radius);
  align-items: center;
  display: flex;
}

.header_layout.mobile_show {
  display: none;
}

.header_main {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  border-radius: var(--radius);
  color: var(--black);
  cursor: pointer;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  text-decoration: none;
  display: flex;
  position: relative;
  transform: translate(0);
}

.header_main.right {
  margin-bottom: 60px;
}

.header_main.heading {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.layout {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  flex-flow: column;
  width: 100%;
  height: 100%;
  display: flex;
}

.layout.left {
  align-items: flex-start;
}

.layout.stretch {
  justify-content: space-between;
}

.layout._10px, .layout.occupation, .layout.date-and-occupation {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.layout._2_cols {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.layout.padding_right {
  padding-right: 40px;
}

.layout.project {
  border-top: 1px solid var(--gray);
  padding-top: 20px;
  padding-bottom: 50px;
}

.layout.project.first {
  border-top-width: 0;
  padding-top: 0;
}

.layout.header {
  margin-bottom: 10px;
}

.layout.contacts_buttons {
  grid-column-gap: 4px;
  grid-row-gap: 4px;
  align-items: flex-start;
}

.layout._2_cols_tablet {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  border-top: 1px solid var(--gray);
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  padding-top: 40px;
  display: grid;
}

.occupation_header {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  flex-flow: column;
  width: 100%;
  display: flex;
}

.occupation_header.left {
  align-items: flex-start;
}

.occupation_header.stretch {
  justify-content: space-between;
}

.occupation_header._10px, .occupation_header.occupation, .occupation_header.date-and-occupation {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.movix_vr {
  background-image: url('../images/thumb-1_1.webp');
  background-position: 50%;
  background-size: cover;
  flex: none;
  width: calc(min(45vw, 500px));
  height: calc(min(45vw, 500px));
}

.buttons_container {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  display: flex;
}

.root {
  width: 100%;
  height: auto;
}

.text_big {
  font-variation-settings: "wght"253, "wdth"64.6, "opsz"8, "slnt"0, "YTAS"756, "XTRA"471, "YTDE"-203, "YTFI"744, "GRAD"-6, "YOPQ"89, "YTUC"703;
  font-size: 36px;
  line-height: 120%;
}

.infographic_card {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  border-radius: var(--radius);
  background-color: var(--white);
  flex-flow: column;
  justify-content: flex-start;
  align-items: stretch;
  padding: 20px 40px 20px 30px;
  display: flex;
}

.slider {
  border-radius: var(--radius);
  overflow: hidden;
}

.slider.revolvr_1 {
  background-image: url('../images/revolvr_3.webp');
  background-position: 50%;
  background-size: cover;
}

.slider.revlvr_0 {
  background-image: url('../images/revolvr_5.webp');
  background-position: 50%;
  background-size: cover;
}

.slider.rvlvr_2 {
  background-image: url('../images/revolvr_05.webp');
  background-position: 50%;
  background-size: cover;
}

.slider.pcht_00 {
  background-image: url('../images/pochta_5.webp');
  background-position: 50%;
  background-size: cover;
}

.slider.pcht_01 {
  background-image: url('../images/pochta_6.webp');
  background-position: 50%;
  background-size: cover;
}

.slider.pcht_02 {
  background-image: url('../images/pochta_4.webp');
  background-position: 50%;
  background-size: cover;
}

.slider.pcht_03 {
  background-image: url('../images/pochta_3.webp');
  background-position: 50%;
  background-size: cover;
}

.slider.zlp_00 {
  background-image: url('../images/registartion.webp');
  background-position: 50%;
  background-size: cover;
}

.slider.zlp_03 {
  background-image: url('../images/nft.webp');
  background-position: 50%;
  background-size: cover;
}

.slider.js_00 {
  background-image: url('../images/main.webp');
  background-position: 50%;
  background-size: cover;
}

.slider.jtst_01, .slider.jtst_01-copy {
  background-image: url('../images/main_2.webp');
  background-position: 0 0;
  background-size: auto;
}

.slider.jtst_02 {
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg');
  background-position: 0 0;
  background-size: auto;
}

.points {
  display: none;
}

.anchor-menu {
  grid-column-gap: 4px;
  grid-row-gap: 4px;
  flex-flow: column;
  align-items: flex-start;
  display: flex;
}

.arrow {
  background-color: var(--white);
  border-radius: 50px;
  width: 80px;
  height: 80px;
  margin-left: -40px;
  margin-right: -40px;
}

.icon {
  color: var(--orange);
}

.image {
  border-radius: var(--radius);
  width: 100%;
}

.my_pic {
  display: none;
}

.infographics_list {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  flex-flow: column;
  display: flex;
}

.slider_container {
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
  min-height: calc(min(800px, 50vw));
}

.slider_container.revolvr_1 {
  background-image: url('../images/revolvr_3.webp');
  background-position: 50%;
  background-size: cover;
}

.slider_container.revlvr_0 {
  background-image: url('../images/revolvr_5.webp');
  background-position: 50%;
  background-size: cover;
}

.slider_container.rvlvr_2 {
  background-image: url('../images/revolvr_05.webp');
  background-position: 50%;
  background-size: cover;
}

.column.navigation, .column.left_navigation {
  flex-flow: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 100vh;
  padding-top: 20px;
  padding-bottom: 40px;
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.pic_with_me {
  background-image: linear-gradient(rgba(238, 238, 238, 0) 90%, #eee), url('../images/iam_1.webp');
  background-position: 0 0, 31% 100%;
  background-repeat: repeat, no-repeat;
  background-size: auto, auto 100%;
  background-attachment: scroll, fixed;
  width: 100%;
}

.mobile_container-menu {
  grid-column-gap: 4px;
  grid-row-gap: 4px;
  flex-flow: column;
  align-items: flex-start;
  display: flex;
}

.open-header {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  height: 80vh;
  display: flex;
}

.layout_project {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  border-top: 1px solid var(--gray);
  flex-flow: column;
  width: 100%;
  height: 100%;
  padding-top: 20px;
  padding-bottom: 50px;
  display: flex;
}

.layout_project.left {
  align-items: flex-start;
}

.layout_project.stretch {
  justify-content: space-between;
}

.layout_project._10px, .layout_project.occupation, .layout_project.date-and-occupation {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.layout_project._2_cols {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.layout_project.padding_right {
  padding-right: 40px;
}

.layout_project.project {
  border-top: 1px solid var(--gray);
  padding-top: 20px;
  padding-bottom: 50px;
}

.layout_project.project.first {
  border-top-width: 0;
  padding-top: 0;
}

.layout_project.header {
  margin-bottom: 10px;
}

.layout_project.contacts_buttons {
  grid-column-gap: 4px;
  grid-row-gap: 4px;
  align-items: flex-start;
}

.layout_project._2_cols_tablet {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  border-top: 1px solid var(--gray);
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  padding-top: 40px;
  display: grid;
}

._2_cols_project {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  width: 100%;
  display: grid;
}

@media screen and (max-width: 991px) {
  .section.hero_custom {
    background-image: none;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto;
    background-attachment: scroll;
  }

  .section.sticky_nav {
    display: none;
  }

  .container {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .container.hero {
    background-position: -40% 100%;
    background-size: 80%;
  }

  .container.case.infographics {
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    grid-auto-columns: 1fr;
    justify-content: space-between;
    display: flex;
  }

  .container.case_header_container {
    max-width: none;
    height: 60vh;
    max-height: none;
    padding-bottom: 0;
    position: relative;
  }

  .container.video_cards {
    align-items: stretch;
  }

  .container._12_grid {
    display: flex;
  }

  .container._12_grid.open {
    flex-flow: column;
    display: flex;
  }

  .container._10_grid {
    display: flex;
  }

  .container._10_grid.open {
    flex-flow: column;
    padding-top: 0;
    display: flex;
  }

  .container.custom_layout_grid, .container.custom_layout_grid.open {
    flex-flow: column;
    display: flex;
  }

  .heading_1 {
    font-size: 100px;
  }

  .heading_1.infographics {
    font-size: 20vw;
  }

  .heading_1.custom {
    font-size: 70px;
  }

  .regular {
    font-size: 18px;
  }

  .regular.soon {
    width: 70px;
    top: 20px;
    left: 20px;
  }

  .regular.case_caption {
    text-align: center;
  }

  .regular.link {
    border-bottom: 1px solid var(--gray);
    border-radius: 0;
    justify-content: flex-start;
    align-items: center;
    height: 60px;
    padding-left: 0;
    padding-right: 0;
    display: none;
  }

  .regular.link.orange {
    border-radius: 40px;
    justify-content: center;
    align-items: center;
    height: 60px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
  }

  .regular.link.container_show {
    border: 0 solid #000;
    border-radius: 40px;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    display: flex;
  }

  .regular.link.last {
    border-bottom-style: none;
  }

  .card {
    height: auto;
  }

  .card_text {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .card_text.bottom {
    padding: 20px;
  }

  .heading_3 {
    font-size: 60px;
  }

  .big_text {
    font-size: 50px;
  }

  .infographics_block {
    flex-direction: column;
    width: 20%;
  }

  .sleep8 {
    width: calc(min(23vw, 300px));
    height: calc(2 * min(23vw, 300px));
  }

  .speedometer {
    width: calc(min(30vw, 500px));
    height: calc(min(30vw, 500px));
  }

  .case_card {
    height: 50vw;
  }

  .loader_wt {
    width: calc(min(30vw, 400px));
    height: calc(min(30vw, 400px));
  }

  .header_layout.mobile_show {
    display: block;
  }

  .header_main.right {
    justify-content: space-between;
  }

  .layout.project_name_and_description {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }

  .layout._2_cols {
    display: flex;
  }

  .layout._2_cols_tablet {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
  }

  .movix_vr {
    width: calc(min(30vw, 500px));
    height: calc(min(30vw, 500px));
  }

  .my_pic {
    border-radius: var(--radius);
    background-image: url('../images/iam_1.webp'), linear-gradient(#5678cc, #5678cc);
    background-position: 50% 0, 0 0;
    background-repeat: no-repeat, repeat;
    background-size: auto 140%, auto;
    width: 100%;
    height: 50vh;
    margin-top: 100px;
    display: block;
  }

  .infographics_list {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
  }

  .column {
    width: 100%;
  }

  .column.left_navigation {
    z-index: 25;
    flex-flow: row;
    width: 100%;
    height: auto;
    padding-bottom: 0;
    padding-left: 40px;
    padding-right: 40px;
    position: fixed;
    top: 0%;
    bottom: auto;
    left: 0%;
    right: 0%;
  }

  .pic_with_me {
    background-image: linear-gradient(rgba(238, 238, 238, 0) 90%, #eee);
    background-position: 0 0;
  }

  .mobile_container-menu {
    z-index: 25;
    border-radius: var(--radius);
    justify-content: center;
    align-items: stretch;
    display: block;
  }

  .open-header {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    height: auto;
    margin-bottom: 20px;
  }

  .layout_project.project_name_and_description {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }

  .layout_project._2_cols {
    display: flex;
  }

  .layout_project._2_cols_tablet {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
  }

  ._2_cols_project {
    flex-flow: column;
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  .section.case_header {
    min-height: 50vh;
  }

  .container {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    flex-flow: column wrap;
    margin-left: 0;
    margin-right: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
  }

  .container.header {
    flex-direction: row;
  }

  .container.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
    height: auto;
    min-height: 81vh;
    padding-top: 20vh;
    position: relative;
  }

  .container.case.no_paddings {
    padding-left: 0;
  }

  .container.case.infographics {
    flex-direction: row;
    justify-content: space-between;
  }

  .container.pic_container {
    align-items: center;
  }

  .container._2_columns {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    border: 1px #000;
    flex-flow: column;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    display: flex;
  }

  .container._2_columns.work {
    border-top-style: solid;
    border-top-color: var(--gray);
  }

  .container._12_grid.contacts, .container._10_grid.contacts, .container.custom_layout_grid.contacts {
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    flex-flow: column;
  }

  .heading_1 {
    font-size: 80px;
    line-height: 80%;
  }

  .heading_1.custom {
    margin-top: 40px;
  }

  .regular {
    font-size: 18px;
  }

  .regular.footer {
    color: #898989;
  }

  .regular.footer.desktop {
    display: none;
  }

  .regular.footer.mobile {
    margin-top: 0;
    display: block;
  }

  .regular.soon {
    top: 20px;
    left: 20px;
  }

  .card {
    width: 100%;
    height: auto;
    max-height: none;
  }

  .card.full {
    display: flex;
  }

  .card.slp8, .card.card_loader {
    height: auto;
  }

  .heading_3 {
    order: -1;
  }

  .card_pic {
    max-width: none;
    height: calc(min(122.5vw - 98px, 1020px));
  }

  .heading_4 {
    font-size: 25px;
  }

  .big_text {
    font-size: 40px;
    font-style: normal;
  }

  .caption {
    font-size: 16px;
  }

  .logo {
    font-size: 25px;
  }

  ._3cols_container.pic_shadow, ._2_cols {
    flex-flow: column;
    display: flex;
  }

  ._2_cols.nowrap {
    flex-flow: row;
  }

  .sleep8 {
    width: calc(min(60vw, 300px));
    height: calc(2 * min(60vw, 300px));
  }

  .speedometer {
    width: calc(min(60vw, 500px));
    height: calc(min(60vw, 500px));
  }

  .case_card {
    width: 100%;
    height: 90vw;
    max-height: none;
  }

  .loader_letter {
    font-size: 32px;
  }

  .loader_wt {
    width: calc(min(60vw, 500px));
    height: calc(min(60vw, 500px));
  }

  .header_main {
    width: 100%;
  }

  .header_main.right {
    margin-bottom: 0;
  }

  .layout.padding_mobile {
    margin-top: 20px;
  }

  .layout.occupation {
    flex-flow: row;
    justify-content: space-between;
  }

  .layout.date-and-occupation {
    justify-content: flex-start;
    align-items: flex-end;
    width: 50%;
  }

  .layout.padding_right {
    padding-right: 0;
  }

  .layout._2_cols_tablet {
    display: flex;
  }

  .occupation_header.padding_mobile {
    margin-top: 20px;
  }

  .occupation_header.occupation {
    flex-flow: row;
    justify-content: space-between;
  }

  .occupation_header.date-and-occupation {
    justify-content: flex-start;
    align-items: flex-end;
    width: 50%;
  }

  .movix_vr {
    width: calc(min(60vw, 500px));
    height: calc(min(60vw, 500px));
  }

  .text_big {
    font-size: 28px;
  }

  .arrow {
    width: 60px;
    height: 60px;
    margin-left: -30px;
    margin-right: -30px;
  }

  .icon {
    font-size: 29px;
  }

  .infographics_list {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }

  .open-header {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }

  .layout_project.padding_mobile {
    margin-top: 20px;
  }

  .layout_project.occupation {
    flex-flow: row;
    justify-content: space-between;
  }

  .layout_project.date-and-occupation {
    justify-content: flex-start;
    align-items: flex-end;
    width: 50%;
  }

  .layout_project.padding_right {
    padding-right: 0;
  }

  .layout_project._2_cols_tablet {
    display: flex;
  }

  ._2_cols_project {
    flex-flow: column;
    display: flex;
  }

  ._2_cols_project.nowrap {
    flex-flow: row;
  }
}

@media screen and (max-width: 479px) {
  li {
    margin-bottom: 10px;
  }

  .section {
    padding-left: 20px;
    padding-right: 20px;
  }

  .section.header {
    padding-left: 0;
    padding-right: 0;
  }

  .section.case_header {
    height: auto;
  }

  .container.header {
    padding: 10px 15px;
  }

  .container.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
    min-height: 80vh;
    padding-top: 10vh;
    position: relative;
  }

  .container.case.no_paddings {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }

  .container.case_header_container {
    border-radius: var(--mobile_radius);
    height: 40vh;
  }

  .container.pic_container {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }

  .heading_1 {
    text-transform: uppercase;
    font-size: 60px;
  }

  .heading_1.hero {
    font-size: 20vw;
  }

  .heading_1.infographics {
    background-color: var(--blue);
    background-image: none;
    font-size: 60px;
    position: static;
  }

  .heading_1.custom {
    margin-top: 20px;
  }

  .regular {
    font-size: 16px;
  }

  .regular.soon {
    margin-top: 0;
    margin-left: 0;
    top: 10px;
    left: 10px;
  }

  .regular.link {
    height: auto;
    padding-bottom: 20px;
  }

  .regular.link.orange {
    padding-bottom: 10px;
  }

  .regular.link.container_show {
    border: 0 solid #000;
    padding-bottom: 10px;
  }

  .card {
    border-radius: var(--mobile_radius);
    height: 150vw;
  }

  .card.slp8 {
    height: auto;
  }

  .card_text {
    padding-left: 20px;
    padding-right: 20px;
  }

  .card_text.bottom {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .heading_3 {
    font-size: 50px;
  }

  .heading_3.center.purple {
    font-size: 32px;
  }

  .case_header {
    width: auto;
    max-width: none;
    height: 40vh;
    left: auto;
    right: auto;
  }

  .pic {
    border-radius: var(--mobile_radius);
  }

  .card_pic {
    height: calc(min(122.5vw - 24.5px, 1100px));
  }

  .heading_4, .big_text {
    font-size: 25px;
  }

  .caption {
    font-size: 13px;
  }

  .socials_icon {
    width: 40px;
    margin-left: 10px;
  }

  .half_pic {
    border-top-left-radius: var(--mobile_radius);
    border-top-right-radius: var(--mobile_radius);
    border-bottom-left-radius: var(--mobile_radius);
    border-bottom-right-radius: var(--mobile_radius);
    height: calc(min(61.3vw - 34.328px, 1167px));
  }

  .sleep8 {
    width: calc(min(60vw, 300px));
    height: calc(2 * min(60vw, 300px));
  }

  .speedometer {
    width: calc(min(60vw, 500px));
    height: calc(min(60vw, 500px));
  }

  .case_card {
    border-radius: var(--mobile_radius);
    height: 120vw;
  }

  .credits_string {
    flex-flow: wrap;
  }

  .header-soon {
    flex-flow: column;
  }

  ._1px {
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: auto;
    display: flex;
  }

  .loader_letter {
    font-size: 32px;
  }

  .loader_wt {
    width: calc(min(60vw, 500px));
    height: calc(min(60vw, 500px));
  }

  .header_layout {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }

  .header_main {
    border-radius: var(--mobile_radius);
  }

  .movix_vr {
    width: calc(min(60vw, 500px));
    height: calc(min(60vw, 500px));
  }

  .text_big {
    font-size: 26px;
  }

  .arrow {
    width: 50px;
    height: 50px;
    margin-left: -20px;
    margin-right: -20px;
  }

  .icon {
    font-size: 28px;
  }

  .my_pic {
    background-image: url('../images/iam_1.webp'), linear-gradient(#5678cc, #5678cc);
    background-size: auto 100%, auto;
    margin-top: 80px;
  }

  .infographics_list {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    display: flex;
  }

  .column.left_navigation {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .mobile_container-menu {
    top: 80px;
    left: 0;
    right: 0;
  }

  .open-header {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin-bottom: 0;
  }
}

#w-node-_253f72b7-3619-e929-5695-7ce41ff948b9-4ea1a3ed {
  grid-area: 1 / 1 / 2 / 4;
}

#w-node-_253f72b7-3619-e929-5695-7ce41ff948bb-4ea1a3ed {
  grid-area: span 1 / span 3 / span 1 / span 3;
}

#w-node-_253f72b7-3619-e929-5695-7ce41ff948be-4ea1a3ed {
  grid-area: 2 / 1 / 3 / 2;
}

#w-node-_253f72b7-3619-e929-5695-7ce41ff948c2-4ea1a3ed, #w-node-_253f72b7-3619-e929-5695-7ce41ff948c7-4ea1a3ed, #w-node-f2996900-e006-ca2f-21b1-f9463bd9edf5-442acad2, #w-node-_46e8d529-5c77-7eff-1e20-ae91d14e9ea8-442acad2, #w-node-_031a6a89-b7a1-d0d8-52bd-d27bda922a38-442acad2, #w-node-_0cbb1b27-09df-32f1-152c-3c6a26323f1e-442acad2, #w-node-_78b39572-c883-20c8-b6a5-1f9e645440e5-442acad2 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-ca614180-5b3d-15e2-f4a6-e499064414a1-0644149f {
  grid-area: 1 / 1 / 2 / 4;
}

#w-node-ca614180-5b3d-15e2-f4a6-e499064414b0-0644149f {
  grid-area: span 1 / span 3 / span 1 / span 3;
}

#w-node-ca614180-5b3d-15e2-f4a6-e499064414a3-0644149f {
  grid-area: 2 / 1 / 3 / 2;
}

#w-node-ca614180-5b3d-15e2-f4a6-e499064414a7-0644149f, #w-node-ca614180-5b3d-15e2-f4a6-e499064414ac-0644149f, #w-node-f2996900-e006-ca2f-21b1-f9463bd9edf5-e1281eab, #w-node-_46e8d529-5c77-7eff-1e20-ae91d14e9ea8-e1281eab, #w-node-_974ee4f9-27c2-7530-0a2e-ad96b10d74f8-e1281eab, #w-node-_2dc7e68c-c22c-3a2d-ff31-4d3203f9fc96-e1281eab, #w-node-f2996900-e006-ca2f-21b1-f9463bd9edf5-3ce72465, #w-node-_46e8d529-5c77-7eff-1e20-ae91d14e9ea8-3ce72465, #w-node-_10eb50f7-8bce-4722-146c-7181ba90761e-3ce72465, #w-node-_8c0ab513-269a-0abe-bdaa-b9f70badbe18-3ce72465, #w-node-_4439d559-549e-c7e6-0b32-9834f2d3ab87-3ce72465, #w-node-_96361cbe-ccd1-1644-b54d-d2c2c4dd3bbf-3ce72465, #w-node-f2996900-e006-ca2f-21b1-f9463bd9edf5-947e3a7e, #w-node-_46e8d529-5c77-7eff-1e20-ae91d14e9ea8-947e3a7e, #w-node-f2996900-e006-ca2f-21b1-f9463bd9edf5-442acad3, #w-node-b5dff100-322a-e1a2-5b4a-a55a0dd7b345-442acad3, #w-node-_4f1cbede-fff6-2a20-5d91-f904a5b25b20-442acad3, #w-node-_46e8d529-5c77-7eff-1e20-ae91d14e9ea8-442acad3, #w-node-_974ee4f9-27c2-7530-0a2e-ad96b10d74f8-442acad3, #w-node-b371fbd2-58b9-788a-a3a6-aa8e927eb776-442acad3, #w-node-_2dc7e68c-c22c-3a2d-ff31-4d3203f9fc96-442acad3, #w-node-b631b01b-6f9e-ec10-5f71-4017be9d204d-442acad3, #w-node-_7c689f91-5e06-d9c2-6126-0bd656ab5da8-442acad3, #w-node-_08dcf9a3-1df0-c669-c7d8-ab430a91b4a2-442acad3, #w-node-_08dcf9a3-1df0-c669-c7d8-ab430a91b4a3-442acad3, #w-node-f54cc1f1-9891-229c-2372-6a0725f61a6e-442acad3, #w-node-eefd60d3-83f4-2929-fdb4-e90144b939e6-442acad3 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_016b28d3-089b-790e-678e-d6bf065d5de4-442acad4 {
  grid-area: 1 / 1 / 2 / 2;
  justify-self: center;
}

#w-node-_016b28d3-089b-790e-678e-d6bf065d5deb-442acad4 {
  grid-area: 1 / 2 / 2 / 3;
  justify-self: center;
}

#w-node-_016b28d3-089b-790e-678e-d6bf065d5df2-442acad4 {
  grid-area: 1 / 3 / 2 / 4;
  justify-self: center;
}

#w-node-_016b28d3-089b-790e-678e-d6bf065d5dfb-442acad4, #w-node-_016b28d3-089b-790e-678e-d6bf065d5e02-442acad4, #w-node-_016b28d3-089b-790e-678e-d6bf065d5e09-442acad4, #w-node-_016b28d3-089b-790e-678e-d6bf065d5e10-442acad4, #w-node-_016b28d3-089b-790e-678e-d6bf065d5e17-442acad4, #w-node-_016b28d3-089b-790e-678e-d6bf065d5e1e-442acad4, #w-node-_016b28d3-089b-790e-678e-d6bf065d5e29-442acad4, #w-node-_016b28d3-089b-790e-678e-d6bf065d5e30-442acad4, #w-node-_016b28d3-089b-790e-678e-d6bf065d5e39-442acad4, #w-node-_016b28d3-089b-790e-678e-d6bf065d5e40-442acad4, #w-node-_016b28d3-089b-790e-678e-d6bf065d5e47-442acad4, #w-node-_016b28d3-089b-790e-678e-d6bf065d5e4e-442acad4, #w-node-_016b28d3-089b-790e-678e-d6bf065d5e57-442acad4 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_016b28d3-089b-790e-678e-d6bf065d5e79-442acad4 {
  grid-area: span 1 / span 2 / span 1 / span 2;
}

#w-node-c1537dee-2fb3-063c-2eb0-58eba7708aaa-442acad5, #w-node-f2996900-e006-ca2f-21b1-f9463bd9edf5-442acad5, #w-node-_46e8d529-5c77-7eff-1e20-ae91d14e9ea8-442acad5, #w-node-_8c0ab513-269a-0abe-bdaa-b9f70badbe18-442acad5, #w-node-_8f51a756-1eda-d161-062b-1fa5b8e35f6e-442acad5, #w-node-_5d3705f1-0f29-80f1-3526-29d1faa928ec-442acad5, #w-node-b710ba0b-7c9e-6e3a-00b3-25e076279323-442acad5, #w-node-_5641e3d9-a85c-16c8-e57b-93de6063ec3c-442acad5, #w-node-be419e44-7171-ec61-7fa0-930770ad6afd-70ad6ae3, #w-node-be419e44-7171-ec61-7fa0-930770ad6b05-70ad6ae3, #w-node-be419e44-7171-ec61-7fa0-930770ad6b07-70ad6ae3, #w-node-be419e44-7171-ec61-7fa0-930770ad6b09-70ad6ae3, #w-node-be419e44-7171-ec61-7fa0-930770ad6b0d-70ad6ae3, #w-node-be419e44-7171-ec61-7fa0-930770ad6b0e-70ad6ae3, #w-node-be419e44-7171-ec61-7fa0-930770ad6b0f-70ad6ae3, #w-node-be419e44-7171-ec61-7fa0-930770ad6b10-70ad6ae3, #w-node-be419e44-7171-ec61-7fa0-930770ad6b13-70ad6ae3, #w-node-be419e44-7171-ec61-7fa0-930770ad6b14-70ad6ae3, #w-node-be419e44-7171-ec61-7fa0-930770ad6b16-70ad6ae3, #w-node-be419e44-7171-ec61-7fa0-930770ad6b17-70ad6ae3, #w-node-f2996900-e006-ca2f-21b1-f9463bd9edf5-be74a623, #w-node-_46e8d529-5c77-7eff-1e20-ae91d14e9ea8-be74a623, #w-node-_74ce59ec-b300-c819-b8a6-8c45cb82803a-be74a623, #w-node-_9e72f1f5-2235-28a5-a2dc-d2050b908383-be74a623, #w-node-_1e0256f3-cd6e-6b1d-7215-cc0c8f59b2cb-be74a623, #w-node-_5918e194-d93b-f5af-345f-1d22fa9bc8a9-be74a623, #w-node-f2996900-e006-ca2f-21b1-f9463bd9edf5-442acad7, #w-node-_46e8d529-5c77-7eff-1e20-ae91d14e9ea8-442acad7, #w-node-f2996900-e006-ca2f-21b1-f9463bd9edf5-442acad8, #w-node-_46e8d529-5c77-7eff-1e20-ae91d14e9ea8-442acad8, #w-node-_10a10f2f-080b-60a8-23be-3a13ad2ddee2-442acad8, #w-node-_0bdcd95f-f395-3477-3b37-c885acd0fe83-442acad8, #w-node-_78b39572-c883-20c8-b6a5-1f9e645440e5-442acad8, #w-node-_23760054-3535-513f-d0bb-8990319fb539-442acad8, #w-node-ab1463cf-8a29-b1d3-007f-071a62aab44f-442acad8, #w-node-_75778579-8392-bee4-485c-3a09d30877d8-442acad8, #w-node-_3802ffc5-9c99-fba9-9f01-46386f2f0a5d-442acad8, #w-node-c1537dee-2fb3-063c-2eb0-58eba7708aaa-442acad9, #w-node-f2996900-e006-ca2f-21b1-f9463bd9edf5-442acad9, #w-node-_46e8d529-5c77-7eff-1e20-ae91d14e9ea8-442acad9, #w-node-_031a6a89-b7a1-d0d8-52bd-d27bda922a38-442acad9, #w-node-_0cbb1b27-09df-32f1-152c-3c6a26323f1e-442acad9, #w-node-_78b39572-c883-20c8-b6a5-1f9e645440e5-442acad9 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-ce86104c-c4ab-98c9-44d5-45ce53c32235-dec7cd57 {
  grid-area: 1 / 1 / 2 / 2;
  justify-self: center;
}

#w-node-ce86104c-c4ab-98c9-44d5-45ce53c3223c-dec7cd57 {
  grid-area: 1 / 2 / 2 / 3;
  justify-self: center;
}

#w-node-ce86104c-c4ab-98c9-44d5-45ce53c32243-dec7cd57 {
  grid-area: 1 / 3 / 2 / 4;
  justify-self: center;
}

#w-node-ce86104c-c4ab-98c9-44d5-45ce53c3224c-dec7cd57, #w-node-ce86104c-c4ab-98c9-44d5-45ce53c32253-dec7cd57, #w-node-ce86104c-c4ab-98c9-44d5-45ce53c3225a-dec7cd57, #w-node-ce86104c-c4ab-98c9-44d5-45ce53c32261-dec7cd57, #w-node-ce86104c-c4ab-98c9-44d5-45ce53c32268-dec7cd57, #w-node-ce86104c-c4ab-98c9-44d5-45ce53c3226f-dec7cd57, #w-node-ce86104c-c4ab-98c9-44d5-45ce53c3227a-dec7cd57, #w-node-ce86104c-c4ab-98c9-44d5-45ce53c32281-dec7cd57, #w-node-ce86104c-c4ab-98c9-44d5-45ce53c3228a-dec7cd57, #w-node-ce86104c-c4ab-98c9-44d5-45ce53c32291-dec7cd57, #w-node-ce86104c-c4ab-98c9-44d5-45ce53c32298-dec7cd57, #w-node-ce86104c-c4ab-98c9-44d5-45ce53c3229f-dec7cd57, #w-node-ce86104c-c4ab-98c9-44d5-45ce53c322a8-dec7cd57 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-ce86104c-c4ab-98c9-44d5-45ce53c322ca-dec7cd57 {
  grid-area: span 1 / span 2 / span 1 / span 2;
}

#w-node-_5f59e1f9-01e7-5a27-e712-deae01555136-39cd90e6 {
  grid-area: 1 / 1 / 2 / 3;
}

#w-node-_6cf9603e-cf72-3a0a-733f-bc8c6ec9171d-39cd90e6 {
  grid-area: 1 / 3 / 2 / 13;
}

#w-node-b1f43985-65f4-0310-8ddc-8c85459dadfa-39cd90e6 {
  grid-area: 1 / 6 / 2 / 11;
}

#hello.w-node-_18239ce9-11b1-dc18-5666-4be6eb87e6ef-39cd90e6 {
  grid-area: 1 / 1 / 2 / 8;
}

#w-node-_957c3022-3248-bfc1-d393-c38083f4f0e9-39cd90e6 {
  grid-area: 1 / 6 / 2 / 11;
}

#ux.w-node-ad0d200b-e1ba-6fcb-1840-38e67eb71118-39cd90e6 {
  grid-area: 1 / 3 / 2 / 13;
}

#w-node-_24c74127-63b9-88ca-f980-b2fdd55c42a7-39cd90e6, #w-node-d2b6e298-ff7c-7003-0087-e3fc247b0255-39cd90e6, #w-node-_9596fb57-483b-7c08-c478-cafc3ea6b564-39cd90e6, #w-node-_6b06533a-9c79-5847-95d5-cc702a0e778e-39cd90e6, #w-node-_9596fb57-483b-7c08-c478-cafc3ea6b5ac-39cd90e6, #w-node-_69b0b330-4f86-c75f-49fd-466e2e53c7c4-39cd90e6 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#webdesign.w-node-_898eb902-9bf2-8fdf-91fa-904c2acb8a38-39cd90e6 {
  grid-area: 1 / 3 / 2 / 13;
}

#w-node-_898eb902-9bf2-8fdf-91fa-904c2acb8a41-39cd90e6, #w-node-_898eb902-9bf2-8fdf-91fa-904c2acb8a63-39cd90e6, #w-node-_898eb902-9bf2-8fdf-91fa-904c2acb8a71-39cd90e6, #w-node-_898eb902-9bf2-8fdf-91fa-904c2acb8a7d-39cd90e6 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#communication.w-node-f4e9fcf2-09e5-4e76-7c64-caddcbf6283a-39cd90e6 {
  grid-area: 1 / 3 / 2 / 13;
}

#w-node-f4e9fcf2-09e5-4e76-7c64-caddcbf62849-39cd90e6, #w-node-f4e9fcf2-09e5-4e76-7c64-caddcbf6284f-39cd90e6 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#graphic-design.w-node-_34a9fbed-1219-9d34-54c4-1f6f464a406c-39cd90e6 {
  grid-area: 1 / 3 / 2 / 13;
}

#w-node-_34a9fbed-1219-9d34-54c4-1f6f464a4087-39cd90e6, #w-node-_34a9fbed-1219-9d34-54c4-1f6f464a40bf-39cd90e6 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#animations.w-node-_9008b3b4-bda1-ad38-586b-64559439b30b-39cd90e6 {
  grid-area: 1 / 3 / 2 / 13;
}

#w-node-_6c403106-d68b-8221-5ada-0a8e91ba4e31-39cd90e6 {
  grid-area: span 1 / span 2 / span 1 / span 2;
}

#w-node-_62a0d030-8609-ea95-4951-2230a4736a05-39cd90e6 {
  grid-area: 1 / 1 / 2 / 11;
}

#w-node-_7f0d4838-f185-0cb5-1231-27d2631fe7d4-39cd90e6 {
  grid-area: 1 / 1 / 2 / 4;
}

#w-node-_7f0d4838-f185-0cb5-1231-27d2631fe7d6-39cd90e6 {
  grid-area: span 1 / span 3 / span 1 / span 3;
}

#w-node-_7f0d4838-f185-0cb5-1231-27d2631fe7d9-39cd90e6 {
  grid-area: 2 / 1 / 3 / 2;
}

#w-node-_7f0d4838-f185-0cb5-1231-27d2631fe7dd-39cd90e6, #w-node-_7f0d4838-f185-0cb5-1231-27d2631fe7e2-39cd90e6, #w-node-f2996900-e006-ca2f-21b1-f9463bd9edf5-c18a1e11, #w-node-_46e8d529-5c77-7eff-1e20-ae91d14e9ea8-c18a1e11, #w-node-f2996900-e006-ca2f-21b1-f9463bd9edf5-391c7f32, #w-node-_46e8d529-5c77-7eff-1e20-ae91d14e9ea8-391c7f32 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

@media screen and (max-width: 991px) {
  #w-node-_253f72b7-3619-e929-5695-7ce41ff948b9-4ea1a3ed, #w-node-ca614180-5b3d-15e2-f4a6-e499064414a1-0644149f {
    grid-column-start: 1;
  }

  #w-node-b1f43985-65f4-0310-8ddc-8c85459dadfa-39cd90e6, #w-node-_957c3022-3248-bfc1-d393-c38083f4f0e9-39cd90e6 {
    grid-column-start: 6;
  }

  #w-node-_7f0d4838-f185-0cb5-1231-27d2631fe7d4-39cd90e6 {
    grid-column-start: 1;
  }
}


@font-face {
  font-family: 'Robotoflex Variablefont Grad Xtra Yopq Ytas Ytde Ytfi Ytlc Ytuc Opsz Slnt Wdth Wght';
  src: url('../fonts/flex.ttf') format('truetype');
  font-weight: 100 1000;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Tt Trailers Trial Variable';
  src: url('../fonts/TT-Trailers-Trial-Variable.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}